@using AspNetCoreMVCApp.DTO.LoginDTO;
@model LoginDTO
@{
    ViewData["Title"] = "Login";
    bool? isLoginWrong = ViewBag.isLoginWrong;
}


<div class="loginContainer">

    <form method="post">

        <h1 class="text-center">Login</h1>

        @if (isLoginWrong == true)
        {
            <span style="color: red;">Login Credentials are wrong...</span>
        }

        <div class="form-group m-3">
            <label asp-for="EmployeeEmail">Employee Email:</label>
            <input id="empEmail" asp-for="EmployeeEmail" class="form-control form-control-sm"/>
        </div>
    
        <div class="form-group m-3">
            <label asp-for="EmployeePassword">Employee Password:</label>
            <input asp-for="EmployeePassword" class="form-control form-control-sm" type="password"/>
        </div>
    
        <button type="submit" class="btn btn-primary m-3" asp-action="Login" asp-controller="Login">Submit</button>

    </form>

</div>
